<!DOCTYPE html>
<html class="has-navbar-fixed-top">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Welcome!{% endblock %}</title>
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
  {% block stylesheets %}
  {% endblock %}

  {% block javascripts %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
  {% endblock %}
</head>

<body>
  <nav class="navbar is-fixed-top">
    <div class="navbar-brand">
      <a class="navbar-item has-text-weight-bold is-size-4" href="{{ url('app_index') }}">Pl8r</a>
    </div>
    <div class="navbar-end">
    {%- if app.user -%}
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link app-user-username">{{ app.user.userIdentifier }}</a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="{{ url('app_profile') }}">Profile</a>
          <a class="navbar-item" href="{{ logout_url() }}">Log Out</a>
        </div>
      </div>
    {%- else -%}
      <a class="navbar-item" href="{{ url('app_login') }}">Login</a>
    {%- endif -%}
    </div>
  </nav>
  {% block body %}{% endblock %}
</body>

</html>